
.profile-card {
    background: #fff;
    border-radius: 24px;
    padding: 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
}

    .profile-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 30px rgba(0,0,0,0.15);
    }

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
    color: #111827;
}

.primary-btn {
    background: #800020;
    color: white;
    border-radius: 12px;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

    .primary-btn:hover {
        background: #5c0017;
    }

.nv-section {
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.nav-link {
    position: relative;
    color: #374151;
    transition: color 0.3s ease;
}

    .nav-link:hover {
        color: #800020;
    }

    .nav-link::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        width: 0;
        height: 2px;
        background: #800020;
        transition: width 0.3s ease;
    }

    .nav-link:hover::after {
        width: 100%;
    }

/*.nav-link {
    color: green !important;
}*/

.page-container {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

.profile-input {
    width: 100%;
    border: 1px solid #d1d5db;
    background: #ffffff;
    border-radius: 12px;
    padding: 12px 16px;
    font-size: 15px;
    color: #111827;
    outline: none;
}

    .profile-input::placeholder {
        color: #6b7280;
    }

    .profile-input:focus {
        border-color: #800020;
        box-shadow: 0 0 0 2px rgba(128, 0, 32, 0.2);
    }

textarea.profile-input {
    min-height: 90px;
    resize: vertical;
}